@import "./common/_common";
@import "./common/_layout";
@import "./common/_responsive";
/**************************************************************
Role Management
*****************************************************************/
.item-text-box{
    
}
.user-infomation{
    @include flexbox(row, flex-start,flex-start);
    background-color:$white;
    padding:2.4rem;
    margin-bottom:2.8rem;
    &:last-child{
        margin-bottom:0;
    }
    &>div{
       &.user-name{
            width:17.5rem;
            border-right:1px solid $gray02;
            min-height:24rem;
            h3{
                font-size:2.4rem;
                line-height: 2.88rem;
                color:$black0;
                margin-bottom:1.6rem;
            }
            h4{
                color:$mainColor;
                font-size:1.8rem;
                font-weight: 700;
                line-height:2.16rem;
            }
        }
       &.user-info{
            width:100%;
            flex: 1;
            padding-left:4.4rem;
            ul{
                li{
                    margin-bottom:2.4rem;
                    p{
                        font-size:1.4rem;
                        font-weight: 400;
                        line-height:1.68rem;
                        color:$darkgray;
                        margin-bottom:1.6rem;
                    }
                    span{
                        font-size:1.6rem;
                        font-weight: 700;
                        line-height:1.92rem;
                        color:$black0; 
                    }
                }
            }
       } 
    }
    &.text-box{
        max-height:7rem;
        div:nth-child(1){
            border-right:0;
            min-height:auto;
        }
        @include flexbox(row, flex-start,center);
        p{
            color:$black0;
            font-size:1.8rem;
            font-weight: 700;
        }
        div.input-wrap{
            width:100%;
        }
    }
}